/* TODO
-get the 'Average counts' header to be centred
-make the am and pm radios larger (too small for tablet)
 */

#new-counts {
	 font-size: 14px; 
	 margin-left: 20px;
}

#tabs div#tabs-4 {
	background-image:url('/images/bkgd_count.png'); 
}   
 
#new-counts .ui-button {
	width: 100px;
}

#new-counts .text-box {
	width: 40px;
	height: 40px;
}

#new-counts .image {
	height: 60px;
	width: 60px;
}

#new-counts .table-body {
	font-size: 21px;
}

#new-counts .text-box {
	font-size: 21px;
}

#new-counts #new-count-am {
	/* need to style these larger... they're way too small for a tablet */
}

#new-counts .table-header {
	text-align: left;
}

#new-counts .align-center {
	text-align: center;
}



/*  ******************POSITIONING********************* */
#new-counts .new-counts-image {
	float: left;
}
 
#new-counts div.select-habitat-title {
	float: left;
	margin: -13px 33px 0 0;
}

#new-counts div.select-habitat-radios {
	float: left;
}

#new-counts div.divider {
	clear: left;
}

#new-counts div.temperature-radios {
    margin-left: 0;
	float: left;
}

#new-counts div.light-level-radios {
    margin-left: 20px;
    padding: 0;
	float: left;
}

#new-counts div.humidity-radios {
    margin-left: 20px;
    padding: 0;
	float: left;
}

#new-counts div.temperature-radios {
	margin-bottom: 30px;
}

#new-counts .record-organisms {
	clear: left;
}

#new-counts .count-vegetation {
	margin-bottom: 20px;
	float: left;
	width: 400px;
}

#new-counts .scum-image {
	margin-top: 10px;
}

#new-counts .fuzzy-mold-image {
	margin-top: 10px;
}

#new-counts .column-spacing {
/*	margin-right: 80px;*/
}

#new-counts #new-counts-datepicker {
	margin-right: 60px;
}

#new-counts .minute {
	margin-right: 20px;
}

#new-counts .save-button {
	margin-left: 560px;
	background: url('');
	background-color: #AC2790;
	border: 1px solid #AC2790;
}            

div#new-counts div#vegetation-count-div {
	width: 700px;
}
              

div#new-counts table#count-vegetation-date-time {
	margin-top: 25px;
}  
                                                    
div#new-counts table#count-vegetation-date-time th{
    float: left;       
	width: 120px;                                 
	text-align: left;
}

div#new-counts table#count-vegetation-date-time td{
    float: left;       
	width: 120px;
}       
                                

div#new-counts table#count-organisms {
	border-collapse: collapse;
}

div#new-counts table#count-organisms td.dotted-bottom-border {
	border-bottom: 2px dotted black;  
	padding-bottom: 10px;
}

div#new-counts table#count-organisms td.dotted-top-border {
	padding-top: 10px;
}

div#new-counts table#count-organisms td{
	width: 40px;
}  
          


/* #new-counts div.symbols {
		vertical-align: middle;
} */