#tabs div#tabs-4 {
	background-image: url('/images/bkgd_count.png');
	background-repeat: no-repeat;
	font-size: 14px;
	/* 	height: 1178px; */
}

#tabs-4 .counts-button {
	background: url('');
	background-color: #AC2790;
	border: 1px solid #AC2790;
	width: 100px;
}

#landing-counts {
	background-image: url('/images/transparent_bkg.png');
	margin-left: auto;
	margin-right: auto;
	height: 470px;
	display: table;
	_position: relative;
	overflow: hidden;
	margin-top: 160px;
}

#inner-landing-counts {
	_position: absolute;
	_top: 50%;
	display: table-cell;
	vertical-align: middle;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 24px;
}

#landing-counts .counts-button {
	width: 550px;
	height: 80px;
}

#landing-counts .view-button {
	margin-top: 50px;
}

#new-counts {
	margin-left: 20px;
}

#new-counts .ui-button {
	width: 100px;
}

#new-counts .text-box {
	width: 30px;
	height: 28px;
	font-size: 14px;
}

#new-counts .record-environment .text-box {
	width: 70px;
	height: 28px;
	font-size: 22px;
}

#new-counts .image {
	height: 60px;
	width: 60px;
}

#new-counts .table-body {
	font-size: 14px;
}

#new-counts .table-header {
	text-align: left;
}

#new-counts .align-center {
	text-align: center;
}

/*  ******************POSITIONING********************* */
#new-counts .new-counts-image {
	float: left;
}

#new-counts div.select-habitat-title {
	float: left;
	margin: -13px 33px 0 0;
}

#new-counts div.select-habitat-radios {
	float: left;
}

#new-counts div.divider {
	clear: left;
}

#new-counts div.light-level-input {
	margin-left: 0px;
	margin-top: 18px;
	margin-bottom: 40px;
	padding: 0;
	float: left;
}

#new-counts div.temperature-input {
	margin-left: 20px;
	margin-top: 18px;
	float: left;
}

#new-counts div.humidity-input {
	margin-left: 20px;
	margin-top: 18px;
	padding: 0;
	float: left;
}

#new-counts .record-organisms {
	font-size: 18px;
	clear: left;
}

#new-counts .count-vegetation {
	margin-bottom: 20px;
	float: left;
	width: 400px;
}

#new-counts .scum-image {
	margin-top: 10px;
}

#new-counts .fuzzy-mold-image {
	margin-top: 10px;
}

#new-counts #new-counts-datepicker {
	margin-right: 60px;
}

#new-counts .save-button {
	margin-top: 60px;
	margin-left: 380px;
}

#new-counts .back-button {
	margin-top: 60px;
	margin-left: 20px;
}

/* div#new-counts div#vegetation-count-div {
	width: 700px;
	float: left;
}

div#new-counts table#count-vegetation-date-time th {
	float: left;
	width: 100px;
	text-align: center;
}

div#new-counts table#count-vegetation-date-time td {
	float: left;
	width: 100px;
}

#new-counts .date-time-title {
	text-align: center;
}

div#new-counts .vegetation-date {
	width: 100px;
	margin-top: 22px;
}

#new-counts #count-vegetation-date-picker {
	margin-right: 5px;
}

div#new-counts .vegetation-time {
	width: 100px;
	margin-top: 22px;
}
 */
#new-counts .creature-table-header {
	margin-top: -8px;
}

div#new-counts table#count-organisms {
	border-collapse: collapse;
}

div#new-counts table#count-organisms td.dotted-bottom-border {
	border-bottom: 2px dotted black;
	padding-bottom: 10px;
}

div#new-counts table#count-organisms td.dotted-top-border {
	padding-top: 10px;
}

div#new-counts table#count-organisms td input {
	width: 60px;
	height: 28px;
	font-size: 22px;
}

#new-counts #count-organisms .table-date-adjuster {
	width: 130px;
}

/**********************************VIEW COUNTS***************************************/
#view-counts .view-counts-title {
	color: #AC2790;
	margin-left: 30px;
	margin-top: -10px;
}

#view-counts .select-habitat-container {
	margin-top: 15px;
	width: 700px;
	text-align: center;
}

#view-counts .select-conditions-container {
	margin-top: 25px;
	width: 700px;
	text-align: center;
}

#view-counts .view-counts-conditions-radio-button {
	width: 200px;
}

#view-counts .ui-button {
	width: 130px;
}

#view-counts .graph-button {
	margin-top: 25px;
	width: 200px;
	height: 45px;
	font-size: 16px;
}

#view-counts .graphs-container {
	margin-top: 20px;
}

#view-counts .vegetation-graph {
	width: 600px;
	height: 260px;
	margin-left: 40px;
}

#view-counts .vegetation-graph .legend {
	image: url('/images/icon_0007_scum.png');
}

#view-counts .creature-graph {
	margin-top: 20px;
	width: 600px;
	height: 260px;
	margin-left: 40px;
	margin-bottom: 30px;
}

#view-counts .enviro-conditions-graph {
	margin-top: 20px;
	width: 600px;
	height: 260px;
	margin-left: 40px;
	margin-bottom: 30px;
}

#view-counts .legend-image {
	height: 30px;
	width: 30px;
}

#view-counts .conditions-table {
	margin-top: 12px;
	margin-right: 12px;
	float: right;
	font-size: 18px;
}

#view-counts .color-box {
	height: 30px;
	width: 30px;
	margin: 6px;
}

#view-counts .color-box-high {
	background-color: white;
}

#view-counts .color-box-low {
	background-color: white;
}

#view-counts .back-button {
	margin-top: 20px;
	margin-left: 20px;
}