div#new-habitat {
	margin-left: 100px;  
}

div#new-habitat div.habitat-form-fields {
	margin-bottom: 50px;	
} 
                       
div#new-habitat div#action-buttons {
	width: 500px;               
}

div#new-habitat button.save-button {
	float: right;
}    