div#habitat {
	margin-left: 100px;  
}

div#habitat div.habitat-form-fields {
	margin-bottom: 50px;	
} 
                       
div#habitat div#action-buttons {
	width: 500px;               
}

div#habitat button.save-button {
	float: right;
}    