div#new-habitat {
	margin-left: 20px;
	height: 100%;
}           

div#tabs div#tabs-1 {
	background-image: url('/images/bkgd_habitat.png');	
	background-repeat: no-repeat;  
}                  
                      
div#habitat-menu-page {
	background-image: url('/images/transparent_bkg.png');
	margin-left: auto;
	margin-right: auto;     
	height: 470px;      
	display: table; 
	_position: relative; 
	overflow: hidden;    
	margin-top: 160px;
}   

div#inner-habitat-menu-page {
	_position: absolute; 
	_top: 50%; 
	display: table-cell; 
	vertical-align: middle; 
	padding-left: 40px;
	padding-right: 40px;
	font-size: 24px;
}

#tabs-1 .habitat-button {
	background: url('');
	background-color: #007ADF;
	border: 1px solid #007ADF;
}	

#inner-habitat-menu-page .habitat-button {
	width: 550px;
	height: 80px;
}

#inner-habitat-menu-page #what-others-said-habitat-button {
	margin-top: 50px;
}

#new-habitat div.divider {
	clear: left;
}
div.habitat-page-heading {
	color: #336699;
}

#new-habitat .new-habitat-image {
	float: left;
}

#new-habitat div.select-wallscope-title {
	float: left;
	margin: -13px 33px 0 0;
}

#new-habitat div.select-wallscope {
	float: left;
}

div#new-habitat div.habitat-form-fields {
	margin-bottom: 22px;	
}

div#new-habitat .text-box {
	height: 90px;
	width: 680px;
	margin-top: -12px;
}
                       
div#new-habitat .action-buttons {
	width: 660px;               
}

div#new-habitat button.save-button {
	float: right;
	width: 100px;
}

div#new-habitat button.back-button {
	width: 100px;
	margin-left: 20px;
}    

div.habitat-page-heading {
	margin-bottom: 20px;
}

div#what-others-said-habitat .habitat-page-heading {
	color: #007ADF;
}

div#aggregate-view-habitat-filter {
	margin-top: 15px;
	margin-bottom: 20px; 
	text-align: center;
}          

div#aggregate-view-note-type-filter {
	margin-bottom: 25px;
	text-align: center;
}                             
                             
table#aggregate-habitat-table {   
	width: 750px;
}

table#aggregate-habitat-table td {
	font-size: 14px;
}

div#what-others-said-habitat div.action-buttons {
	margin-top: 35px;
	width: 730px;               
}

div#what-others-said-habitat button.back-button {
	width: 100px;
	margin-left: 20px;	
}

div#what-others-said-habitat button.add-to-discussion-button {
	float: right;
}    
