div#investigation-pages {
	height: 100%;
}

html{
	height: 100%; 
}    

body {
	height: 100%;
}


/********************************* INVESTIGATION MENU PAGE *****************************/   
   
div#tabs-5 {
	background-image: url('/images/bkgd_investigations.png');
	background-repeat: no-repeat;
/* 	font-size: 14px;*/
}
           
div#investigation-pages div#investigation-menu-page {
	background-image: url('/images/transparent_bkg.png');
	height: 470px;
	display: table; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 160px;
	overflow: hidden;
}      

div#investigation-pages div#investigation-menu-page div#inner-investigation-menu-page {
   	display: table-cell; 
	vertical-align: middle; 
	padding-left: 40px;
	padding-right: 40px;
	font-size: 24px;
}

div#tabs-5 button.new-page-button  {
	margin-top: 50px;
	height: 80px;
	width: 570px;
}

div#tabs-5 button.investigation-button {
	background: url("") repeat scroll 0 0 #F1433A;
	border: 1px solid #F1433A;   
	color: white;
}                                                   

/** ********************************* Investigation Motivation Page *************************** */
   
#investigation-motivation {
	margin-left: 20px;
}

#investigation-motivation #motivation-description {
	width: 660px;
	height: 123px;
}

#investigation-motivation #headline-title {
	float: left;
	width: 565px;
} 

div#tabs-5 div#investigation-motivation div.action-buttons {                             
	width: 640px;
	margin-top: 430px;
}

div#tabs-5 div#investigation-motivation .standard-button {
	width: 100px;
}

div#tabs-5 div#investigation-motivation .back-button {
	margin-left: 20px;
	width: 100px;
}                                                                  

div#tabs-5 div#investigation-motivation .next-button {
	width: 100px;
}                                                                  

div#tabs-5 div#investigation-motivation div.action-buttons button#to-investigation-setup {
   float: right;
}    
    

/** ********************************* Investigation Setup Page *************************** */

#investigation-setup {
	margin-left: 20px;
}

div#investigation-pages div#investigation-setup table#investigation-organism-table {
	margin-left: 100px;
	margin-bottom: 45px;
}          

div#investigation-pages div#investigation-setup div.investigation-environment-filter {
	float: left; 
	width: 240px;
}

#investigation-setup .image {
	width: 80px;
	height: 80px;
}

#investigation-setup #investigation-setup-hypothesis {
	width: 650px;
	height: 130px;
}

#investigation-setup .standard-button {
	width: 100px;
}

#investigation-setup .back-button {
	margin-left: 20px;
}

#investigation-setup .cancel-button {
	margin-left: 20px;
}

div#tabs-5 div#investigation-setup div.action-buttons {                             
	width: 640px;
}  

div#tabs-5 div#investigation-setup div.action-buttons button#to-investigation-results {
   float: right;
}

                                  
/** ********************************* Investigation Results Page *************************** */

#investigation-results {
	margin-left: 20px;
}

div#tabs-5 div#investigation-results div.action-buttons {                             
	width: 670px;   
	margin-top: 25px;
	margin-left: 20px;
} 

#save-investigation-results {
   float: right;
}   

#investigation-results .graph-container {
	width: 710px;
	height: 330px;
	margin-bottom: 35px;
}	

div#tabs-5 div#investigation-results div#investigation-results-graph {
	width: 690px;
	height: 310px;
	background-color: white;
	float: right;
	margin-right: 10px
}

#investigation-results .time-label {
	float: right;
}

#investigation-results .population-label {
	margin-left: -15px;
}

#investigation-results .results-input-box {
	width: 710px;
	height: 75px;
}

div#tabs-5 div#investigation-results button#animate-investigation-results-button {
	float: left;
	font-size: 24px;
	height: 80px;
	width: 150px;
	margin-left: 50px;
	margin-top: 100px;
}

#investigation-results .standard-button {
	width: 100px;
}



/********************************* WHAT OTHERS DID FOR THEIR INVESTIGATION *****************************/
            
#view-investigations .view-investigation-header {
	margin-top: 20px;
	margin-left: 30px;
}

#view-investigations .view-investigation-type-selectors {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	width: 200px;
}

#view-investigations .type-selector-title {
	text-align: center;
}

#view-investigations .standard-button {
	width: 100px;
}

#view-investigations .image {
	width: 80px;
	height: 80px;
}

#view-investigations #view-investigation-organism-selectors {
	width: 100%
	float: left;
	text-align: center;
	margin-bottom: 10px;
}

#view-investigations #what-others-said-organisms {
	margin-left: auto;
	margin-right: auto;
	width: 450px;
}                    

#view-investigations .investigation-environment-filter {
	width: 250px;                         
	float: left;
	text-align: center;
}

#view-investigations #investigations-what-others-said-aggregate-table {
	margin-left: 20px;	
	margin-right: 15px;

}

#view-investigations .datatable-title {
	margin-left: 30px;
}

#view-investigations .action-buttons {
	margin-top: 25px;
	margin-left: 40px;
}

#view-investigations .back-button {
	width: 100px;
	background: url("") repeat scroll 0 0 #F1433A;
	border: 1px solid #F1433A;   
	color: white;
}


/********************************* VIEW INVESTIGATIONS DETAILS *****************************/

#view-investigations-details {
	margin-left: 20px;
	padding-top: 10px;
}

#view-investigations-details .headline {
	color: #F1433A;
	font-size: 20px;
}

#view-investigations-details .layout-table-top {
	margin-top: 10px;
	width: 735px;
}

#view-investigations-details .layout-table-bottom {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 735px;
}

#view-investigations-details .table-cell {
	margin-top: 6px;
	width: 337px;
	height: 74px;
	padding: 8px;
	background-color: rgba(255,102,102,0.3);
	font-size: 12px;
}

#view-investigations-details .selected-variables {
	width: 720px;
	margin-top: 20px;
}

#view-investigations-details .selected-variables-content {
	margin-top: 6px;
	height: 280px;
	padding: 8px;
	background-color: rgba(255,102,102,0.3);
}

#view-investigations-details .graph-container {
	height: 250px;
	width: 340px;
	margin-top: 20px;
	margin-right: 10px;
	float: right;
}

#view-investigations-details .graph-box {
	height: 220px;
	width: 320px;
	background-color: white;	
	float: right;
}

	
#view-investigations-details .time-label {
	float: right;
}	
	

#view-investigations-details .image {
	height: 60px;
	width: 60px;
}

#view-investigations-details .variable-table {
	margin-top: 10px;
	margin-bottom: 20px;
	float: clear;	
}

#view-investigations-details .variable-table-cell {
	padding: 2px;
	font-size: 12px;
}

#view-investigations-details .conditions-titles-box {
	height: 30px;
}

#view-investigations-details .selected {
	border: 1px solid red;
}

#view-investigations-details .temperature {
	margin-left: 30px;
	float: left;
}

#view-investigations-details .light-level {
	margin-left: 30px;
	float: left;
}

#view-investigations-details .humidity {
	margin-left: 30px;
	float: left;
}

#view-investigations-details .add-comment {
	margin-top: 15px;
}

#view-investigations-details .add-comment-text-field {
	margin-top: 6px;
	width: 715px;
	height: 55px;
}

#view-investigations-details .standard-button {
	margin-top: 20px;
	width: 100px;
}

#view-investigations-details .back-button {
	margin-left: 20px;
}

#view-investigations-details .save-button {
	margin-left: 475px;
}
