div#investigation-pages {
	height: 100%;
}

html{
	height: 100%; 
}    

body {
	height: 100%;
}


/********************************* INVESTIGATION MENU PAGE *****************************/   
   
div#tabs-5 {
	background-image: url('/images/bkgd_investigations.png');
	background-repeat: no-repeat;
/* 	font-size: 14px;*/
}
           
div#investigation-pages div#investigation-menu-page {
	background-image: url('/images/transparent_bkg.png');
	height: 470px;
	display: table; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 160px;
	overflow: hidden;
}      

div#investigation-pages div#investigation-menu-page div#inner-investigation-menu-page {
   	display: table-cell; 
	vertical-align: middle; 
	padding-left: 40px;
	padding-right: 40px;
	font-size: 24px;
}

div#tabs-5 button.new-page-button  {
	margin-top: 50px;
	height: 80px;
	width: 570px;
}

div#tabs-5 button.investigation-button {
	background: url("") repeat scroll 0 0 #F1433A;
	border: 1px solid #F1433A;   
	color: white;
}                                                   

/** ********************************* Investigation Motivation Page *************************** */
   
div#tabs-5 div#investigation-motivation div.action-buttons {                             
	width: 660px;
}

div#tabs-5 div#investigation-motivation div.action-buttons {
	margin-top: 30px;
}                                                                  

div#tabs-5 div#investigation-motivation div.action-buttons button#to-investigation-setup {
   float: right;
}    
    

/** ********************************* Investigation Setup Page *************************** */

div#investigation-pages div#investigation-setup table#investigation-organism-table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}          


div#investigation-pages div#investigation-setup div.investigation-environment-filter {
	float: left; 
	width: 200px;
}  

div#tabs-5 div#investigation-setup div.action-buttons {                             
	width: 660px;
}  

div#tabs-5 div#investigation-setup div.action-buttons button#to-investigation-results {
   float: right;
}

                                  
/** ********************************* Investigation Results Page *************************** */
div#tabs-5 div#investigation-results div.action-buttons {                             
	width: 660px;   
	margin-top: 25px;
} 

div#tabs-5 div#investigation-results div.action-buttons button#save-investigation-results {
   float: right;
}   

div#tabs-5 div#investigation-results div#investigation-results-graph {
	width: 500px;
	height: 300px;
	background-color: white;
	float: left;
}

div#tabs-5 div#investigation-results button#animate-investigation-results-button {
	float: left;
	font-size: 24px;
	height: 80px;
	width: 150px;
	margin-left: 50px;
	margin-top: 100px;
}





/********************************* WHAT OTHERS DID FOR THEIR INVESTIGATION *****************************/
            
#view-investigations {
	width: 800px;
}

#view-investigations .view-investigation-header {
	margin-top: 20px;
	margin-left: 20px;
}

#view-investigations .view-investigation-type-selectors {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	width: 100%;
	float: left;
	text-align: center
}

#view-investigations #what-others-said-investigation-type {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

#view-investigations .standard-button {
	width: 100px;
}	

#view-investigations #view-investigation-organism-selectors {
	width: 100%
	float: left;
	text-align: center;
	margin-bottom: 10px;
}

#view-investigations #what-others-said-organisms {
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}                    

#view-investigations .investigation-environment-filter {
	width: 250px;                         
	float: left;
	text-align: center;
}

#view-investigations .datatable-title {
	margin-left: 30px;
}

#view-investigations .action-buttons {
	margin-top: 25px;
	margin-left: 40px;
}

#view-investigations .back-button {
	width: 100px;
	background: url("") repeat scroll 0 0 #F1433A;
	border: 1px solid #F1433A;   
	color: white;
}


/********************************* VIEW INVESTIGATIONS DETAILS *****************************/

#view-investigations-details {
	margin-left: 20px;
}

#view-investigations-details .details-title {
	color: #F1433A;
	width: 20%;
	float: left;
}

#view-investigations-details .layout-table {
	width: 680px;
}

#view-investigations-details .table-cell {
	width: 300px;
	height: 200px;
}


#view-investigations-details .add-comment-text-field {
	width: 600px;
	height: 70px;
}

#view-investigations-details .standard-button {
	margin-top: 20px;
	width: 100px;
}

#view-investigations-details .back-button {
	margin-left: 10px;
}

#view-investigations-details .save-button {
	margin-left: 450px;
}