div#investigation-pages {
	height: 100%;
}

html{
	height: 100%; 
}    

body {
	height: 100%;
}


/********************************* INVESTIGATION MENU PAGE *****************************/   
   
div#tabs-5 {
	background-image: url('/images/bkgd_habitat.png');
	background-repeat: no-repeat;
 	font-size: 14px;
}
           
div#investigation-pages div#investigation-menu-page {
	background-image: url('/images/transparent_bkg.png');
	height: 470px;
	display: table; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 160px;
	overflow: hidden;
}      

div#investigation-pages div#investigation-menu-page div#inner-investigation-menu-page {
   	display: table-cell; 
	vertical-align: middle; 
	padding-left: 40px;
	padding-right: 40px;
	font-size: 24px;
}


div#tabs-5 button.investigation-button {
	background: url("") repeat scroll 0 0 #E63F0D;
	border: 1px solid #E63F0D;   
	margin-top: 50px;
	height: 80px;
	width: 570px;
}


/********************************* INVESTIGATION MOTIVATION *****************************/

/********************************* INVESTIGATION SETUP *****************************/


/********************************* INVESTIGATION RESULTS *****************************/


/********************************* WHAT OTHERS DID FOR THEIR INVESTIGATION *****************************/


/********************************* INDIVIDUAL INVESTIGATION RESULT *****************************/