div#tabs-2 {
	background-image: url('/images/bkgd_habitat.png');
	padding-left: 25px;
	padding-top: 0px;
}

div#tabs-2 img#organism-page-image {
	float: left;
}
                            
div#tabs-2 div#organism-tables {
	width: 25%;
	float: left;  
}
                
div#tabs-2 div#organism-descriptions {
	width: 75%;
	float: left;
	margin-bottom: 25px;       
}

div#new-organism table#organism-table {
	margin-bottom: 25px;	
}                           

div#new-organism div.section-title {
	font-size: 11px;
	margin-bottom: 15px;	
}        
                 
/* We keep the value of the selected organism hidden in here*/
div#new-organism input#selected-organism {
	display: none;
}       
        
     

div#tabs-2 div#organism-life-cycle-text {
	width: 75%;
	float: left;
}                   

div#tabs-2 span.organism-blank-cell {                 
   display: inline;   
   width: 58px;
   height: 58px;
   background-color: #cccccc;
   float: left; 
}
      

div#new-organism div#organism-evolution {
	width: 100%;
	float: left; 
	margin-bottom: 30px;        
}

div#new-organism div.arrow {
	width: 40px;
	float: left;  
	margin-top: 20px;      
	margin-left: 5px;
	margin-right: 5px;
}     

div#new-organism div#organism-action-buttons {
	width: 100%;
	float: left;
}   


/* What others said about organisms page*/
div#tabs-2 div#what-others-said-about-organisms  {
   	background-image: url('/images/bkgd_habitat.png'); 
}
         

div.organism-page-heading {
	color: #669933;
}  


div#open-organism div#what-others-said-about-organisms div#organism-filters {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}                 

div#open-organism div#what-others-said-about-organisms div#organism-comment-filters {
	margin-left: auto;
	margin-right: auto;
	width: 65%;        
}     


div#open-organism div#what-others-said-about-organisms div#organism-comment-filters td.organism-comment-filter {
	margin-left: auto;
	margin-right: auto;
	background-color: #ccc; 
	text-align: center; 
	padding: 10px;
}       









