           
div#open-organism div#organism-menu-page {
	background-image: url('/images/transparent_bkg.png');
	margin-left: auto;
	margin-right: auto;     
	height: 470px;      
	display: table; 
	_position: relative; 
	overflow: hidden;    
	margin-top: 160px;
}

div#open-organism .organism-button{
	background: url('');
	background-color: #0CA958;
	border: 1px solid #0CA958;	
}

div#inner-organism-menu-page {
	_position: absolute; 
	_top: 50%; 
	display: table-cell; 
	vertical-align: middle; 
	padding-left: 40px;
	padding-right: 40px;
	font-size: 24px;
}          

#inner-organism-menu-page .new-page-button {
	width: 550px;
	height: 80px;
}

#inner-organism-menu-page #what-others-said-organism-button {
	margin-top: 30px; 
}

div#tabs-2 {
	background-image: url('/images/bkgd_organism.png');
	background-repeat: no-repeat;
	padding-left: 25px; 
	font-size: 14px;
}

div#tabs-2 img#organism-page-image {
	float: left;
}                

#new-organism #organism-page-image {
	margin-bottom: 15px;
}
                            
div#tabs-2 div#organism-tables {
	width: 24%;
	float: left;
	margin-top: 15px;  
}     

div#open-organism div#organism-tables div#chosen-organism {  
	width: 100px;
	height: 60px;
	margin-bottom: 10px;
}
                
div#tabs-2 div#organism-descriptions {
	width: 75%;
	float: left;
	margin-bottom: 25px;       
}    

div#tabs-2 div#new-organism {
	height: 100%;
	margin-left: 10px;
}

#tabs-2 .image {
	height: 60px;
	width: 60px;
}

/* this shit needs to be fixed so that there is a transparent border, so the images don't shift when clicked on
#new-organism
#organism-table td {
	background-color: transparent;
	border-width: 1px;
	border-color: black;
	border-style: solid;
} */

div#new-organism table#organism-table {
	margin-top: 10px;
	margin-bottom: 10px;	
}

div#new-organism div.section-title {
	margin-top: 8px;
	margin-bottom: 4px;	
}        
                 
/* We keep the value of the selected organism hidden in here*/
div#new-organism input#selected-organism {
	display: none;
}

#new-organism .arrow-image {
	width: 35px;
	height: 20px;
}

div#tabs-2 div#organism-life-cycle-text {
	margin-bottom: 18px;
	float: left;
}

#new-organism div.divider {
	clear: left;
}

#new-organism #organism-evolution {
	margin-top: 8px;
	margin-left: 126px;
	margin-bottom: 15px;
}

div#tabs-2 span.organism-blank-cell {                 
   display: inline;   
   width: 60px;
   height: 60px;
   background-color: #cccccc;
   border-radius: 4px;
   float: left; 
   margin-left: 10px;
   margin-right: 10px;
}

div#new-organism div#organism-action-buttons {
	width: 100%;
	float: left;
	margin-top: 35px;
}   

div#new-organism div#organism-action-buttons button.back-button {
	width: 100px;
	margin-left: 30px;       
}

div#new-organism div#organism-action-buttons button.save-button {
	width: 100px;
	float: right;
	margin-right: 45px;    
}  

div#open-organism div#organism-what-others-said-action-buttons button.back-button {
	width: 100px;
	margin-left: 30px;       
}

div#open-organism div#organism-what-others-said-action-buttons button.add-to-discussion-button {
	width: 200px;
} 
                                         

div.organism-page-heading {
	color: #0CA958;
}  


div#open-organism div#what-others-said-about-organisms div#organism-filters {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#what-others-said-about-organisms div.organism-comment-filters {
	margin-left: auto;
	margin-right: auto;
	width: 55%;        
}     


div#open-organism div#what-others-said-about-organisms div#organism-comment-filters td.organism-comment-filter {
	margin-left: auto;
	margin-right: auto;
	text-align: center; 
	padding: 10px;
	border-radius: 4px;
	margin: 5px;
}         
              
div#open-organism div#what-others-said-about-organisms div#organism-what-others-said-aggregate-table {
	margin-bottom: 30px;
}

div#open-organism div#what-others-said-about-organisms table#aggregate-organism-table th{
	font-size: 16px;
}

div#open-organism div#what-others-said-about-organisms table#aggregate-organism-table {
	margin-bottom: 25px;     
	width: 750px;
	float: left;    
	font-size: 14px;
}                        

div#organism-what-others-said-action-buttons {
	margin-top: 50px;
	width: 730px;
}

div#what-others-said-about-organisms .back-button {
	width: 100px;
	margin-left: 20px;
}	

div#what-others-said-about-organisms button.add-to-discussion-button {
	margin-right: 20px;
	float: right;
}                      

/******************************************NEW LIFE CYCLE**************************************/

#describe-lifecycle-organism div#describe-lifecycle-action-buttons {
	margin-top: 70px;
}

div#describe-lifecycle-organism div#describe-lifecycle-action-buttons button.save-button {
	width: 100px;
	margin-right: 30px;
	float: right;
}

div#describe-lifecycle-organism div#describe-lifecycle-action-buttons button.back-button {
	width: 100px;
	margin-left: 30px;
}

#describe-lifecycle-organism .section-title {
	margin-top: 80px;
}
	
#describe-lifecycle-organism .describe-title {
	margin-left: 60px;
	display: inline;
}
  
div#describe-lifecycle-organism table#organism-lifecycle-table {
	margin-left: auto;
	margin-right: auto;   
	margin-bottom: 25px; 
	background-color: white;
}          

div#describe-lifecycle-organism table#organism-lifecycle-relation {  
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

div#describe-lifecycle-organism table#organism-lifecycle-relation td.content-cell {
	width: 99px;
	height: 99px;
	background-color: white;
	border-radius: 7px;
	border: 1px;
	border-style: solid;
}

/* div#describe-lifecycle-organism .selectable {
	border-width: 1px;
	border-color: transparent;
	border-style: solid;
} */



/********************************************VIEW LIFE CYCLE********************************************/

div#what-others-said-organism-lifecycle .section-title {
	color: #0CA958;
}      

div#what-others-said-organism-lifecycle h3.section-title {   
	margin-left: auto;
	margin-right: auto; 
	margin-top: 30px; 
	width: 50%;
}

#what-others-said-organism-lifecycle .describe-title {
	margin-bottom: 50px;
}

#what-others-said-organism-lifecycle .image {
	width: 80px;
	height: 80px;
}

div#what-others-said-organism-lifecycle table#organism-life-cycle-table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}                                           

div#what-others-said-organism-lifecycle table#organism-lifecycle-count-table-1 {
	float: left;
	margin-left: 35px;
	margin-bottom: 50px;
	width: 340px;
}                                                                               

div#what-others-said-organism-lifecycle table#organism-lifecycle-count-table-2 {
	float: right;  
	margin-right: 25px;
	width: 340px;
}

div#what-others-said-organism-lifecycle table#organism-lifecycle-count-table-1 td {
	width: 80px;
	height: 80px;
	border-radius: 4px;
}                                                                             

div#what-others-said-organism-lifecycle table#organism-lifecycle-count-table-1 img {
	width: 80px;
}

div#what-others-said-organism-lifecycle table#organism-lifecycle-count-table-2 td {
	width: 80px;
	height: 80px;
	border-radius: 4px;
}

div#what-others-said-organism-lifecycle table#organism-lifecycle-count-table-2 img {
	width: 80px;
}

div#what-others-said-organism-lifecycle table#organism-lifecycle-count-table-1 td.selected-organism-relationship {
	background-color: #D4D6D6;
}       

div#what-others-said-organism-lifecycle table#organism-lifecycle-count-table-1 td.relationship-count {         
	text-align: center;
}

div#what-others-said-organism-lifecycle table#organism-lifecycle-count-table-2 td.selected-organism-relationship {
	background-color: #D4D6D6;
}       

div#what-others-said-organism-lifecycle table#organism-lifecycle-count-table-2 td.relationship-count {    
	text-align: center;
}
                   
div#what-others-said-organism-lifecycle div#organism-lifecycle-count-tables-container {
	font-size: 24px;
	width: 100%; 
	float: left; 
	clear:both;
}

div#what-others-said-organism-lifecycle-action-buttons button.back-button{
	margin-left: 35px;
	width: 100px;
}










