#relationships {
	height: 100%;
	margin-left: 20px;
	font-size: 14px;
}
   
#tabs div#tabs-3 {
	background-image:url('/images/bkgd_relationship.png');  
	background-repeat: no-repeat;
	height: 1200px;
}

#relationships .ui-button {
	width: 100px;
}

/* Rokham's magical css */
html{
	height: 100%; 
}    

body {
	height: 100%;
}

div#tabs {
	height: 100%;
}

#landing-relationships {
	background-image: url('/images/transparent_bkg.png');
	margin-left: auto;
	margin-right: auto;       
	height: 470px;  
	display: table; 
	_position: relative; 
	overflow: hidden;    
	margin-top: 160px;
}   

#inner-landing-relationships {
	_position: absolute; 
	_top: 50%; 
	display: table-cell; 
	vertical-align: middle; 
	padding-left: 40px;
	padding-right: 40px;
	font-size: 24px;
}

#inner-landing-relationships .landing-relationships-button {
	width: 550px;
	height: 80px;
}

#inner-landing-relationships .view-button {
	margin-top: 50px;
}
	


/************************************ NEW RELATIONSHIP********************************/

#new-relationship .image {
	padding-right: 8px;
}

#new-relationship .table-header {
	text-align: left;
}

#new-relationship .add-relationship-title {
	display: inline;
}

#new-relationship .organism-box {
	margin-top: 55px;
	height: 110px;
	width: 110px;
	border-radius: 4px;
	background-color: white;
	color: white;
	display: inline-block;
	vertical-align: baseline;
}

#new-relationship .organism-dropzones {
	margin-left: 170px;
}

#new-relationship .arrow-image {
	margin-bottom: 48px;
}

#new-relationship .comments {
	height: 220px;
	width: 660px;
}

#new-relationship .back-button {
	margin-top: 30px;
	margin-left: 10px;
}

#new-relationship .save-button {
	margin-top: 30px;
	margin-left: 430px
}

 
/*****************************VIEW RELATIONSHIPS**************************/

#view-relationships .view-relationships-title {
	color: #EE5023;
}

#view-relationships .image {
	height: 58px;
	width: 66px;
}

#view-relationships .display-box {
	height: 58px;
	width: 66px;
	background-color: #D2D4D5;
	font-size: 24px;
	text-align: center;
}

#view-relationships .blank-box {
	background-color: white;
}

#view-relationships .view-relationships-table-background {
	width: 490px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 8px 8px 8px;
	background-color: white;
	border: thin;
	border-style: groove;
}

#view-relationships .back-button {
	margin-left: 30px;
	margin-top: 30px;
}