#relationships {
	margin-left: 20px;
	font-size: 14px;
}
   
#tabs div#tabs-3 {
	background-image:url('/images/bkgd_relationship.png');  
	background-repeat: no-repeat;
}                 

div#tabs-3 div#relationships .relationship-button {
	background: url('');
	background-color: #EE5023;
	border: 1px solid #EE5023;
}

#relationships .standard-button {
	width: 100px;
}

#landing-relationships {
	background-image: url('/images/transparent_bkg.png');
	margin-left: auto;
	margin-right: auto;       
	height: 470px;  
	display: table; 
	_position: relative; 
	overflow: hidden;    
	margin-top: 160px;
}   

#inner-landing-relationships {
	_position: absolute; 
	_top: 50%; 
	display: table-cell; 
	vertical-align: middle; 
	padding-left: 40px;
	padding-right: 40px;
	font-size: 24px;
}

#inner-landing-relationships .landing-relationships-button {
	width: 550px;
	height: 80px;
}

#inner-landing-relationships .view-button {
	margin-top: 50px;
}
	


/************************************ NEW RELATIONSHIP********************************/

#new-relationship .image {
	padding-right: 8px;
}

#new-relationship .table-header {
	text-align: left;
}

#new-relationship .add-relationship-title {
	display: inline;
}

#new-relationship .organism-box {
	margin-top: 25px;
	height: 102px;
	width: 102px;
	border: solid 1px white;
	border-radius: 7px;
	background-color: white;
	color: white;
	display: inline-block;
	vertical-align: baseline;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

#new-relationship .selectable {
	background-color: transparent;
	border-width: 1px;
	border-color: transparent;
	border-style: solid;
}

#new-relationship .selected {
	border-color: black;
}

#new-relationship .organism-dropzones {
	margin-left: 170px;
}

#new-relationship .arrow-image {
	margin-bottom: 0px;
}

#new-relationship .comments {
	height: 220px;
	width: 660px;
}

#new-relationship .back-button {
	margin-top: 30px;
	margin-left: 15px;
}

#new-relationship .save-button {
	margin-top: 30px;
	margin-left: 430px
} 
 

/*****************************VIEW RELATIONSHIPS**************************/

#view-relationships .view-relationships-title {
	color: #EE5023;
}

#view-relationships .image {
	height: 58px;
	width: 66px;
}

#view-relationships .display-box {
	height: 58px;
	width: 66px;
	background-color: #D2D4D5;
	font-size: 24px;
	text-align: center;
}

#view-relationships .blank-box {
	background-color: white;
}

#view-relationships .view-relationships-table-background {
	width: 490px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 20px 8px 8px 8px;
	background-color: white;
	border: thin;
	border-style: groove;
}

#view-relationships .back-button {
	margin-left: 30px;
	margin-top: 30px;
}

#view-relationships .add-to-discussion-button {
	float: right;
	margin-right: 30px;
	margin-top: 30px;
}