/*
Xoom dimensions:
1178px x 800 px
888px x 800 px (with soft keyboard revealed)
*/

.predator-reveal {
/*	 display: none; */
}

a {
  color: #047AAC;
}

a:active {
  color: #A9E75E;
}

#connecting {
  position: absolute;
  top: 40%;
  left: 40%;
  right: 40%;
  text-align: center;
  font-weight: bold;
}

#auth-indicator {
}

#discuss-button {
  top: 6px !important;
}

.top-level-text {
	height: 32px;
	width: 160px;
	margin-top: 5px;
	margin-bottom: 3px;
	border-radius: 4px;
	background-color: #669999;
	border-color: #669999;
	color: white;
	font-weight: bold;
	font-size: 25px;
	padding-left: 10px;
}

body {
	font-family: 'Tahoma', 'Trebuchet MS', Helvetica Narrow, Helvetica, Geneva, Verdana, sans-serif;
}

#class-selection {
  margin: 0 auto;
  margin-top: 10%;
  width: 400px;
  text-align: center;
  padding: 30px;
}

#class-selection button {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

div#tabs {
  position: absolute;
  top: 60px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

div#tabs .tab-pane { 
  background-size: 100%;
  font-size: 14px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 50px;
  overflow: auto;
}

.datatable {
	border-collapse: collapse;
}

#tabs {
	display: none;
}


/* Theming, jquery UI overwrites */

.new-page-button .ui-button-text  {
	color: white;
}

.action-buttons .ui-button-text {
	color: white;
}

.inner-landing-buttons .ui-button-text {
	color: white;
}

/*
===================================================================================
 This section allows quick hiding and revealing of parts of the webpage
===================================================================================
*/

/* Hide the predator */
/* REMEMBER TO HIDE/REVEAL THE PREDATOR FROM THE VIEW GRAPHS MANUALLY line ~1887*/
/* REMEMBER THAT WE NEED TO COMMENT OUT ~683 (checking vals for new counts submit) */


/* Hide relationships */
.hide-tab-relationships {
/*	display:none;*/
}

/* Hide counts */
.hide-tab-counts {
/*	display:none;*/
}

#landing-counts .view-button {
/*	display:none;*/
}

#new-counts .save-button {
	/*display:none;*/
}

.hide-tab-investigations {
	/*display:none;*/
}

#describe-lifecycle-organism-button {
	/*display:none;*/
}

#what-others-said-organism-lifecycle-button {
	/*display:none;*/
}

/*
===================================================================================
===================================================================================
*/



/***************************************************************************************************************/




